// --------header

@mixin header($colour, $background, $height) {
  background-color: $background;
  height: $height;
  padding: 2rem;
  margin: 0px;
  display:flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid $colour;
  & ~ h1 {
    color: $colour;
  }
}

// --------footer
@mixin footer($colour, $background, $height) {
  background-color: $background;
  height: $height;
  padding: 2rem;
  margin: 0px;
  display:flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}
// --------inputs

@mixin label () {
  color: $grey-lightest;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  left: 5px;
  top: 20px;
  cursor: text;
  transition: 0.2s ease all;
}
// --------button
@mixin button() {
  padding: 10px 20px;
  margin: 3px 0;
  outline: none;
  border: none;
  border-radius: 2px;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}
@mixin button-flat() {
  border: 1px solid $orange;
  background-color: $grey;
  &:hover {
    background-color: $grey-light;
  }
}

@mixin button-effects($colour) {
  background-color: $colour;
  transition: background-color .3s linear, border .3s linear;
  &:hover {
    background-color: lighten($colour, 10%);
    @include shadow-6dp;
  }
  &:active {
    background-color: darken($colour, 15%);
  }
}

// --------shadows
@mixin focus-shadow() {
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}

@mixin shadow-2dp() {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
@mixin shadow-3dp() {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
              0 3px 3px -2px rgba(0, 0, 0, 0.2),
              0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
@mixin shadow-4dp() {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
@mixin shadow-6dp() {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
