// --------fonts
@import '../assets/stylesheet.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$Titillium: 'TitilliumLight', sans-serif;
$TitilliumBold: 'TitilliumBold';
$Continuum: 'ContinuumLight', courier;
$ContinuumMed: 'ContinuumMedium', courier;
// --------colours
$paper: #f5f5f6;

$dark-orange: #de7300;
$orange: #f59714;
$orange-light: #ffbe3c;
$orange-lighter: lighten($orange-light, 10%);
$orange-lightest: lighten($orange-lighter, 10%);
$darkest-grey: #212121;
$dark-grey: #2e2e2e;
$grey: #4d4d4d;
$grey-light: #585858;
$grey-lighter: lighten($grey-light, 10%);
$grey-lightest: #A3A3A3;

$s: #212121;

$bg: #333333;

$danger: #b50000;

// --------sizing
$nav-height: 2rem;
