@import './variables';

body {
  background-color: $darkest-grey;
  overflow-x: hidden;
}

* {
  color: $paper;
  font-family: $Titillium;
}

header {
  @include header($orange, $dark-grey, $nav-height);
  @include shadow-2dp;
}
//
@media screen and (max-width: 600px) {
  header {
    @include header($orange, $dark-grey, $sm-nav-height);
  }
}

main {
  background-color: $grey;
  min-height: 90vh;
  top: -20px;
  padding-top: 11rem;
  position:relative;
  margin-bottom: -2rem;
  z-index: 2;
}

footer {
  @include footer($orange, $dark-grey, auto)
  @include shadow-6dp;
  z-index: 4;
  width: 100vw;
  left: -10px;
  bottom: -10px;
}

span.divider {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid $dark-grey;
  display: block;
  width: 100;
  height: 2px;
}
// --------text stuff

h1 {
  font-size: 3rem;
  font-family: $Continuum;
}

h2 {
  font-size: 2.8rem;
  font-family: $Continuum;
}

h3 {
  font-size: 2.2rem;
  margin: 0 auto 1rem auto;
  padding-bottom: 1rem;
  border-bottom: 1px dotted grey;
  font-family: $Continuum;
}

h4 {
  font-size: 1.7rem;
  margin: 0 auto 1rem auto;
  padding-bottom: 1rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

// sm-to-mid screen font adjustments
@media screen and (max-width: 600px) {
  header {
    height: 1.5rem;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

.continuum {
  font-family: $Continuum;
}

.continuum-med {
  font-family: $ContinuumMed
}
// colours
.danger {
  color: $danger;
}

.dark-orange {
  color: $dark-orange;
}

.orange {
  color: $orange;
}

.orange-light {
  color: $orange-light;
}

.orange-lighter {
  color: $orange-lighter;
}

.orange-lightest {
  color: $orange-lightest;
}

.dark-grey {
  color: $dark-grey;
}

.grey {
  color: $grey;
}

.grey-light {
  color: $grey-light;
}

.grey-lighter {
  color: $grey-lighter;
}

.grey-lightest {
  color: $grey-lightest;
}

.paper {
  color: $paper;
}

.white {
  color: white;
}

.errors {
  color: $danger;
  font-weight: bold;
}
// --------links

a.link {
  color: $paper;
  text-decoration: none;
  border-bottom: $orange 2px solid;
  transition: background-color .2s linear;
  &:hover {
    background-color: $orange-light;
    color: $dark-grey
  }
  &:active {
    color: darken($orange, 10%);
  }
}

// --------loader
.loader {
    border: 2px solid transparent;
    border-top: 2px solid $orange;
    border-left: 2px solid $orange;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin .7s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// --------transitions

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
