@import './variables';

body {
  background-color: $darkest-grey;
  overflow-x: hidden;
}

* {
  color: $paper;
  font-family: $Titillium;
}

header {
  @include header($orange, $dark-grey, $nav-height)
  @include shadow-2dp;
}

main {
  background-color: $grey;
  min-height: 90vh;
  top: -20px;
  padding-top: 11rem;
  position:relative;
  margin-bottom: -2rem;
  z-index: 2;
}

footer {
  @include footer($orange, $dark-grey, 3rem)
  @include shadow-6dp;
  z-index: 4;
  width: 100vw;
  left: -10px;
  bottom: -10px;
}

span.divider {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid $dark-grey;
  display: block;
  width: 100;
  height: 2px;
}
// --------text stuff

h1 {
  font-size: 3rem;
  font-family: $Continuum;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

.continuum {
  font-family: $Continuum;
}

.continuum-med {
  font-family: $ContinuumMed
}
// colours
.danger {
  color: $danger;
}

.dark-orange {
  color: $dark-orange;
}

.orange {
  color: $orange;
}

.orange-light {
  color: $orange-light;
}

.orange-lighter {
  color: $orange-lighter;
}

.orange-lightest {
  color: $orange-lightest;
}

.dark-grey {
  color: $dark-grey;
}

.grey {
  color: $grey;
}

.grey-light {
  color: $grey-light;
}

.grey-lighter {
  color: $grey-lighter;
}

.grey-lightest {
  color: $grey-lightest;
}

.paper {
  color: $paper;
}

.white {
  color: white;
}

// links

a:not([class^="btn"]:not( ~ h1)) {
  color: $grey-light;
  text-decoration: none;
  border-bottom: $orange 2px solid;
  transition: background-color .2s linear;
  &:hover {
    background-color: $orange-light;
  }
  &:active {
    color: darken($orange, 10%);
  }
}
