
.btn {
  @include button;
  @include shadow-2dp;
  &:hover {
    cursor: pointer;
  }
}
.btn-small {
  max-height: 2rem;
  padding: .5rem .8rem 1.8rem;
  font-size: .9rem;
}
.btn-flat {
  @include button-flat();
}

.btn-orange {
  @include button-effects($orange);
}

.btn-orange-light {
  @include button-effects($orange-light);
}

.btn-grey {
  @include button-effects($grey-lighter);
}

.btn-dark-grey {
  @include button-effects($grey);
}

.btn-darkest-grey {
  @include button-effects($dark-grey);
}
.btn-danger {
  @include button-effects($danger);
}

.btn-fab {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  padding: 1px;
}
