
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $grey;
  box-sizing: border-box;
  position: relative;
  margin: .5rem 0 1.5rem 0;
  border-radius: 2px;
  @include shadow-2dp;
}

.card-body {
  padding: 2rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
}

.card-lg {
  min-height: 100vh;
}
