
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $grey;
  box-sizing: border-box;
  position: relative;
  min-height: 20rem;
  border-radius: 2px;
  margin: 1rem;
  @include shadow-4dp;
}

.card-body {
  padding: 2rem;
  line-height: 2rem;
}

.card-lg {
  min-height: 100vh;
}
