// --------basic inputs

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
.input {
  color: $paper;
  background-color: transparent;
  font-size: 25px;
  padding: 10px 0 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid $grey-lightest;
  &:focus {
    outline: none;
    border-bottom: 2px solid $orange;
    transition: border-bottom .300s linear;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -20px;
    font-size: 16px;
  }
  &:focus ~ label {
    color: $orange;
  }
  & ~ label {
    @include label();
  }
}

// --------file
// this stuff requires some javascript to make it good looking
// just like yo momma
.file {
  padding: 2.2rem;
  width: 28rem;
  height: auto;
  overflow: hidden;
  background: transparent;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  & ~ label {
    @include button();
    @include button-flat();
    top: -20px;
    cursor:pointer;
    text-align:center;
    transition:0.2s ease all;
    margin: 30px 1px;
  }
}

// --------textarea

textarea {
  resize: none;
}

// --------select

select {
  background-color: transparent;
  &:focus,
  &:valid {
    //getting rid of mozilla dotted line outline
    color: grey-light;
    color: transparent;
    text-shadow: 0 0 0 $grey-light;
  }
  & > option {
    background-color: $paper;
    color: $grey-light;
  }
}

// --------radio

.radio-group {
  display: flex;
  flex-direction: row;
  label {
    margin: 0 2rem 0 0;
    cursor: pointer;
  }
  input[type="radio"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    z-index: -1;
    &:checked ~ span.radio-label {
      color: $paper;
      &:before {
        background-color: $orange;
        box-shadow: inset $grey 0 0 0 4px;
      }
    }
  }
  span.radio-label {
    color: $grey-lightest;
    transition: color ease .300s;
    display:flex;
    &:before {
      display: flex;
      border: 2px solid $orange;
      content: '';
      height: 20px;
      width: 20px;
      margin: 0 5px;
      border-radius: 50%;
      box-sizing: border-box;
      transition: all ease .300s;
      box-shadow: inset $grey 0 0 0 10px;
    }
  }
}
